# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Yamazaki Lab
email: yamadai [at] iis.u-tokyo.ac.jp
description: > # this means to ignore newlines until "baseurl:"
  Our studies mainly focus on the dynamics of land waters on the global scale, using modelling, remote sensing, and data integration approach.
  
# If constructed on website root, no need to specify
baseurl: ""
url: ""
# If constructed other than website root, specify directory
#baseurl: "http://hydro.iis.u-tokyo.ac.jp/~yamadai/jekyll/_site"
#url: ""


include:
  - .htaccess
  - _pages

exclude:
  - _site

sass:
  sass_dir: _sass

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false



# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

