<b><a href="http://hydro.iis.u-tokyo.ac.jp/~yamadai/cama-flood/">CaMa-Flood</a>:</b>
Global hydrodynamic model<br>

<b><a href="http://hydro.iis.u-tokyo.ac.jp/~yamadai/MERIT_DEM/">MERIT DEM</a>:</b>
High-accuracy global DEM<br>

<b><a href="http://hydro.iis.u-tokyo.ac.jp/~yamadai/MERIT_Hydro/">MERIT Hydro</a>:</b>
Global river topography<br>

<b><a href="http://hydro.iis.u-tokyo.ac.jp/~yamadai/JapanDir/">J-FlwDir</a>:</b>
Japan Flow Direction Map<br>

<b><a href="http://hydro.iis.u-tokyo.ac.jp/~yamadai/G3WBM/">G3WBM/G1WBM</a>:</b>
Global 3s/1s water map<br>

<b><a href="http://hydro.iis.u-tokyo.ac.jp/~yamadai/GWD-LR/">GWD-LR</a>:</b>
Global River Width Map<br>

<b><a href="http://hydro.iis.u-tokyo.ac.jp/~yamadai/OSM_water/">OSM Water Layer</a>:</b>
Water layer from OpenStreetMap<br>